**/.vs/
**/obj/
**/bin/
AlgorithmsWebApplication/functions/*.dll
AlgorithmsWebApplication/algorithms/*.dll
AlgorithmsWebApplication/state/*.dll
AlgorithmsWebApplication/state/*.txt
AlgorithmsWebApplication/raports/*.pdf
*.txt
*.pdf
